@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@font-face {
  font-family: "itc-avant-garde-gothic-std-bold";
  src: url("../src/assets/fonts/itc-avant-garde-gothic-std-bold.otf")
    format("opentype");
}
body {
  font-family: "Poppins", sans-serif;
  color: #000;
  background-color: #d6eff6;
}
h4,
h5,
h6,
p,
span,
input,
label,
textarea,
select {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
}
h1,
h2,
h3,
h4 {
  font-family: "itc-avant-garde-gothic-std-bold" !important;
}
.form-section {
  padding: 50px 0;
}
.form-inner {
  background-color: #fff;
  box-shadow: 0 0 10px 2px #0000002e !important;
  border-radius: 20px !important;
  padding: 60px;
}
.flx-box {
  align-items: center;
}
ul.hdr-date {
  text-align: right;
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.hdr-date li {
  line-height: 30px;
}
img.brandname {
  width: 30%;
}

.text-box {
  padding: 30px 0 50px;
}
.text-box h1 {
  font-size: 46px;
  margin: 0;
}
.text-box h4 {
  font-size: 28px;
  margin: 20px 0;
}
.text-box h6 {
  font-size: 16px;
  margin: 0 0 50px;
}
.red-link {
  color: #f90000;
}
.txt-width {
  width: 100%;
}
.txt-fld-space .flx-box {
  padding: 14px 0;
}
input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}
.checkbox .MuiFormControlLabel-label {
  font-size: 14px;
}
.pd-top-btm {
  padding: 20px 0;
}
.pd-top-btm label {
  margin-bottom: 18px;
}
.pd-top-btm .MuiFormControlLabel-labelPlacementEnd {
  margin-bottom: 0 !important;
}
.tag {
  background-color: #383535;
  color: #fff;
  font-weight: 600;
  padding: 8px 20px;
}
.right-btn {
  float: right;
}
.home-sec {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}
.card-blk {
  background-color: #fff;
  box-shadow: 0px 10px 60px 0px #00000014;
  border-radius: 20px;
  padding: 30px;
  min-height: 450px;
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
}
.home-sec h1 {
  font-size: 54px;
  margin: 0 0 40px;
  text-transform: capitalize;
}
.image-card {
  height: 150px;
  display: flex;
  align-items: center;
}
.image-card img {
  max-width: 200px;
}
.card-blk h4 {
  font-size: 30px;
  height: 80px;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.theme-btn {
  background-color: #b49a53 !important;
  color: #fff !important;
  text-decoration: none !important;
  display: inline-block !important;
  padding: 10px 50px !important;
  border-radius: 30px !important;
  margin-top: 18px !important;
  border: 2px solid #b49a53 !important;
}
.theme-btn:hover {
  background-color: transparent;
  color: #b49a53;
  border-color: #b49a53;
}

.login-blk {
  background-color: #fff;
  width: 40%;
  padding: 60px 50px;
  box-shadow: 0px 10px 60px 0px #00000014;
  border-radius: 20px;
  text-align: center;
}
.login-blk .MuiTextField-root {
  width: 100%;
  margin: 10px 0;
}
.login-blk h2 {
  text-align: left;
  color: #d7dbe7;
  margin: 0 0 20px;
}
a.trms-btn {
  color: #353a48;
  margin-top: 20px;
}
.login-pg {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.login-box img {
  position: absolute;
  top: 0;
  max-width: 12%;
}
.img-card-blk img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 660px;
}
img.bgcard3 {
  width: 400px;
}
img.bgcard1 {
  right: 190px;
}
.step-bar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 50px;
  padding: 14px 40px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 10px 60px 0px #00000014;
}
.step-flx {
  display: flex;
  align-items: center;
  position: relative;
}
.step-flx-red {
  display: flex;
  align-items: center;
  position: relative;
}
.step-flx span {
  background-color: #1b1919;
  color: #fff;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-right: 8px;
}
.step-flx-red span {
  background-color: red;
  color: #fff;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-right: 8px;
}
.step-bar h5 {
  font-weight: 600;
  font-size: 18px;
}
.step-flx::before {
  content: "";
  position: absolute;
  right: -65px;
  border-bottom: 2px solid #cbcbcb;
  border-right: 2px solid #cbcbcb;
  width: 40px;
  height: 40px;
  transform: rotate(-45deg);
}
.step-flx:last-child::before {
  display: none;
}
.step-flx-red::before {
  content: "";
  position: absolute;
  right: -65px;
  border-bottom: 2px solid #cbcbcb;
  border-right: 2px solid #cbcbcb;
  width: 40px;
  height: 40px;
  transform: rotate(-45deg);
}
.step-flx-red:last-child::before {
  display: none;
}
.step-form-sec {
  padding: 30px 0;
}
.step-active span {
  background-color: #e5252a;
}
.step-opt {
  box-shadow: 0px 10px 60px 0px #00000014;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-radius: 20px;
  margin: 30px 0;
  opacity: 0.4;
  /* pointer-events: none; */
}
.step-opt-title {
  display: flex;
  align-items: center;
}
.step-opt-title img {
  width: 80px;
  margin-right: 20px;
}
.step-opt-title h6 {
  font-weight: 600;
}
.step-opt button {
  background-color: #1b1919;
  color: #fff;
  text-decoration: none;
  padding: 15px 60px;
  border-radius: 30px;
}
.step-opt button:hover {
  background-color: #1b1919;
}
.step-opt-active {
  pointer-events: auto;
  opacity: 1;
}
.step-opt-active button {
  background-color: #b49a53;
}
.step-opt-active button:hover {
  background-color: #b49a53;
}
.btm-nxt-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.file-upload {
  border: 2px dashed #b49a53;
  display: flex;
  align-items: center;
  position: relative;
  padding: 30px;
  border-radius: 20px;
  cursor: pointer;
}
.file-upload input[type="file"] {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.file-upload span {
  background-color: #fff;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 30px;
}
.file-upload span img {
  width: 60px;
}
.file-upload-txt h4 {
  font-size: 26px !important;
}
.steps button {
  text-decoration: none;
  display: block;
  margin: 6px 0;
  min-width: 200px;
  text-align: center;
  padding: 15px 0;
  color: #fff;
  border-radius: 30px;
}
.next-btn-1 {
  background-color: #b49a53 !important;
}
a.finish-btn {
  background-color: #41403e;
}
.form-btns {
  display: flex;
  justify-content: flex-end;
}
.form-btns a {
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  min-width: 150px;
  text-align: center;
  padding: 15px 0;
  border-radius: 30px;
}
.save-btn {
  margin-left: 10px !important;
  text-decoration: none !important; 
  color: #fff  !important;
  min-width: 150px !important;
  text-align: center !important;
  padding: 15px 0 !important;
  border-radius: 30px !important;
  background-color: #b49a53 !important;

}
a.save-btn {
  background-color: #b49a53;
}
a.cancel-btn {
  background-color: #41403e;
}

.label-name {
  font-size: 14px;
  min-height: 50px;
  display: flex;
  align-items: center;
}
.input-value {
  background-color: #00000029;
  display: inline-block;
  width: 100%;
  padding: 8px;
}
hr {
  height: 5px;
  background-color: #000;
}
.main-title {
  text-align: center;
  margin: 0 0 50px !important;
}
.form-point-inn h5 {
  font-weight: 600;
}
.form-points span {
  margin: 8px 0;
  display: inline-block;
  line-height: 28px;
}
.form-point-inn {
  margin: 30px 0;
}
.form-points {
  margin: 20px 0;
}
.select-opt {
  position: relative;
}
.label-opt {
  margin-top: 0 !important;
  padding-left: 30px;
  font-weight: 400 !important;
}
.select-opt .css-j204z7-MuiFormControlLabel-root {
  align-items: flex-start !important;
}

.company-logos img {
  max-width: 50%;
  margin: 0 auto;
}
.company-logos {
  text-align: center;
}
.policy-form-title h4 {
  text-align: center;
  margin: 0 0 20px;
}
.linewrapper {
  display: flex;
  align-items: baseline;
}
.middle {
  border-bottom: 1px dashed #999;
  flex-grow: 1;
  margin: 0 5px;
}
.main-linewrapper h5 {
  font-weight: 600;
}
.linewrapper-inn {
  padding: 3px 20px;
}
.main-linewrapper {
  margin: 20px 0 10px;
}
.book-index-sec {
  margin: 40px 0;
}
.book-index {
  margin: 0 0 40px;
}
.welcom-blk span {
  display: block;
  margin: 10px 0;
}
.welcom-blk h4 {
  margin: 0 0 20px;
}
.welcom-blk {
  padding-top: 30px;
}
.points-sec {
  padding: 40px 0;
}
.points-sec h5 {
  font-weight: 600;
  margin: 0 0 15px;
}
.points-sec span {
  display: block;
  margin: 16px 0;
}
.points-sec p {
  font-weight: 600 !important;
  margin: 40px 0 0;
}
.email-blk {
  align-items: center;
}
ul.num-list li {
  list-style-type: decimal;
  margin: 10px 0;
}
.grid-blk {
  padding: 50px 0;
}
.grid-blk h5 {
  font-weight: 600;
  margin: 0 0 30px;
}
/* Table Css  */
.table-box {
  padding: 0px 0 70px;
}
.table-box-title {
  padding-bottom: 30px;
}
.table-box-title span {
  display: block;
}
.table-box th,
.table-box td {
  border: 1px solid #0000004a;
  border-spacing: 0;
}
.table-box table {
  border: 1px solid #0000004a;
  border-spacing: 0;
}
.table-box table th span {
  display: block;
  font-weight: 600;
}
.table-box th,
.table-box td {
  padding: 10px;
}
.table-box li {
  list-style: none !important;
  font-size: 12px;
  margin: 10px 0;
}
.table-box ul ol {
  padding-left: 15px;
}
.table-box ul {
  padding-left: 0;
}
.table-box td {
  font-size: 14px;
}
td.bordernone {
  border: none;
}
.grid-title {
  text-align: center;
  padding: 20px 0;
  border: 1px solid #0000004a;
}
.grid-title span b {
  padding-top: 15px;
  display: inline-block;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card-blk h4 {
    font-size: 18px;
    height: 40px;
  }
  .image-card img {
    max-width: 180px;
  }
  .image-card {
    height: 130px;
  }
  .theme-btn {
    padding: 10px 30px;
  }
  .card-blk {
    min-height: 370px;
  }
  .home-sec h1 {
    font-size: 32px;
  }
  img.bgcard3 {
    width: 300px !important;
  }
  .img-card-blk img {
    width: 500px;
    z-index: 0;
  }
  img.bgcard1 {
    right: 140px;
  }
  .login-blk {
    width: 60%;
    z-index: 99;
    position: relative;
  }
  .step-bar {
    width: 100%;
  }
  .step-flx::before {
    right: -45px;
    width: 25px;
    height: 25px;
  }
  .text-box h1 {
    font-size: 32px;
  }
}
@media only screen and (min-width: 520px) and (max-width: 767px) {
}
@media only screen and (min-width: 300px) and (max-width: 519px) {
  .home-sec h1 {
    font-size: 30px !important;
  }
  .flx-box {
    display: block !important;
  }
  .flx-box .css-gj1fbr-MuiGrid-root {
    max-width: 100% !important;
  }
  .home-sec {
    height: auto;
    padding: 40px 0;
  }
  img.bgcard3 {
    width: 200px !important;
  }
  .img-card-blk img {
    width: 330px;
  }
  img.bgcard1 {
    right: 80px;
  }
  .login-blk {
    width: 100%;
    position: relative;
    z-index: 999;
  }
  .login-blk h2 {
    font-size: 46px;
  }
  .login-box img {
    max-width: 35%;
  }
  .step-bar {
    padding: 10px 10px;
    width: 100%;
  }
  .step-flx span {
    width: 30px;
    height: 30px;
    font-size: 12px;
    margin-right: 4px;
  }
  .step-bar h5 {
    font-size: 13px;
  }
  .step-flx::before {
    right: -13px;
    width: 15px;
    height: 15px;
  }
  .step-opt {
    display: block;
  }
  .step-opt-title img {
    width: 60px;
    margin-right: 10px;
  }
  .step-opt-title h6 {
    font-size: 18px;
    line-height: 22px;
  }
  .step-opt .edit-btn {
    display: inline-block;
    margin-top: 20px;
  }
  .btm-nxt-sec {
    display: block;
  }
  .file-upload span img {
    width: 40px;
  }
  .file-upload {
    padding: 20px 15px;
  }
  .file-upload span {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
  .file-upload-txt h4 {
    font-size: 16px !important;
  }
  .steps {
    margin-top: 30px;
  }
  .form-inner {
    padding: 30px;
  }
  img.brandname {
    width: 100%;
  }
  .text-box h1 {
    font-size: 24px;
    margin: 0;
  }
  .text-box {
    padding: 0px 0 20px;
  }
  .text-box h4 {
    font-size: 20px;
  }
  .txt-fld-space .css-1osj8n2-MuiGrid-root {
    max-width: 100%;
  }
  .form-btns a {
    min-width: 120px;
  }
  .form-hdr {
    display: flex !important;
    margin-bottom: 20px;
  }
  ul.hdr-date li {
    font-size: 13px;
    line-height: 26px;
  }
}

.sigCanvas{
  border: 1px solid #000
}

.page-break {
  page-break-before: always !important; /* Always start a new page before this element */
}

.MuiListItemIcon-root.css-cveggr-MuiListItemIcon-root {
  width: 0 !important;
}
